name: check_link_broken

on:
  push
  # pull_request:
  #   branches:
  #   - master
  #   paths:
  #   - '**/*.md'
  # schedule:
  # # Run every Monday at 9AM EST (1PM UTC)
  # - cron: "0 13 * * 1"


jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
